#music-player{
    width: 100vw;
    height: 80px;
    border: none;
}
#wrapper , .sekikikoi-nav
{
    padding: 0 !important;
}
#sekikikoiApp
{
    padding-top: 84px;
    padding-left: 0px;
    padding-right: 0px;
}
